body {
    font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: 600;
}
#heading2 {
    color: green;
}

.class h3 {
     color: yellowgreen;
}

.sheet .ptag {
    text-align: center;
    color: red;
}

.programs ul li{
    text-align: center;
    color: red;
    list-style: none;
}

.heading:hover {
    color: white;
    background-color: green;
    
}

.box {
    border: 4mm ridge red;
    width: 300px;
    height: 200px;
    margin: 50px 0 50px 400px;
    font-size: 35px;
    text-align: center;
}

.box:active {
    background-color: yellow;
}

form {
    margin-top: 50px;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    line-height: 2rem;
}
label {
    width: 30%;
}

input {
    background-color: default;
    float: right;
}

input:focus {
    background-color: #ddd;
}